body {
  font-family: helvetica, sans-serif;
  font-weight: 100;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
}
.do {
  background:rgba(0,255,0,0.05);
}
  .do:before {
    color: lime;
    content: "DO";
    display:block;
  }
.dont {
  background:rgba(255,0,0,0.05);
}
  .dont:before {
    color: red;
    content: "DON'T";
    display:block;
  }
